{% load static wagtailcore_tags wagtailuserbar tailwind_tags cookie_consent_tags %}

<!DOCTYPE html>
<html lang="fr" class="h-full">
<head>
    {% if request|cookie_group_accepted:"analytics" %}
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MPJ4JSR2');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <meta charset="utf-8"/>
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}
    <link rel="icon" href="{% static 'logos/favicon.ico' %}"/>
    {% tailwind_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_css.css' %}">

</head>

<body class="flex flex-col min-h-full">
    {% if request|cookie_group_accepted:"analytics" %}
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPJ4JSR2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% url "cookie_consent_cookie_group_list" as url_cookies %}

<template id="cookie-consent__cookie-bar">
  <div class="cookie-bar">
    Ce site utilise des cookies pour améliorer votre expérience. Acceptez-vous leur utilisation ?
    <button type="button" class="cookie-consent__accept">Accepter</button>
    <button type="button" class="cookie-consent__decline">Refuser</button>
    <a href="{{ url_cookies }}">Plus d’infos</a>
  </div>
</template>

{% all_cookie_groups 'cookie-consent__cookie-groups' %}


{% wagtailuserbar %}
<header class="shadow-md">
    <div class="navbar container mx-auto">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[50] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a class="nav-link hover:text-custom-blue" href="{% slugurl 'index' %}">Accueil</a></li>
                    <li><a class="nav-link hover:text-custom-blue" href="{% slugurl 'projets' %}">Projets</a></li>
                    <li><a class="nav-link hover:text-custom-blue" href="{% slugurl 'blog' %}">Blog</a></li>
                    <li class="services-menu">
                        <a class="hover:text-custom-blue">Réseaux</a>
                        <ul class="p-2">
                            <li><a class="nav-link hover:text-custom-blue" href="https://github.com/gabigab117" target="_blank">GitHub</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="https://x.com/GabrielTrouve" target="_blank">X</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="https://www.linkedin.com/in/gabriel-trouv%C3%A9-b6a2bb159/" target="_blank">Linkedin</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="https://www.youtube.com/@gabrieltrouve2801" target="_blank">Youtube</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link hover:text-custom-blue" href="{% slugurl 'contact' %}">Contact</a></li>
                    {% if request.user.is_superuser %}
                    <li class="services-menu">
                        <a class="nav-link hover:text-custom-blue" href="{% url 'customers:dashboard' %}">Dashboard</a>
                        <ul class="p-2">
                            <li><a class="nav-link hover:text-custom-blue" href="{% url 'customers:projects' %}">Projets</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="{% url 'customers:invoices' %}">Factures</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="{% url 'customers:search' %}">Recherche</a></li>

                        </ul>
                    </li>

                    {% endif %}
                </ul>
            </div>
            <a class="btn btn-ghost normal-case text-xl text-custom-blue" href="{% slugurl 'index' %}">PyGabDev</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1 z-[50]">
                <li><a class="nav-link hover:text-custom-blue" href="{% slugurl 'index' %}">Accueil</a></li>
                <li><a class="nav-link hover:text-custom-blue" href="{% slugurl 'projets' %}">Projets</a></li>
                <li><a class="nav-link hover:text-custom-blue" href="{% slugurl 'blog' %}">Blog</a></li>
                <li class="services-menu">
                    <details>
                        <summary class="hover:text-custom-blue">Réseaux</summary>
                        <ul class="p-2 bg-base-100 rounded-box shadow-lg z-[50]">
                            <li><a class="nav-link hover:text-custom-blue" href="https://github.com/gabigab117" target="_blank">GitHub</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="https://x.com/GabrielTrouve" target="_blank">X</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="https://www.linkedin.com/in/gabriel-trouv%C3%A9-b6a2bb159/" target="_blank">Linkedin</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="https://www.youtube.com/@gabrieltrouve2801" target="_blank">Youtube</a></li>
                        </ul>
                    </details>
                </li>
                <li><a class="nav-link hover:text-custom-blue" href="{% slugurl 'contact' %}">Contact</a></li>
                {% if request.user.is_superuser %}
                <li class="services-menu">
                    <details>
                        <summary class="hover:text-custom-blue">Clients</summary>
                        <ul class="p-2 bg-base-100 rounded-box shadow-lg z-[50]">
                            <li><a class="nav-link hover:text-custom-blue" href="{% url 'customers:dashboard' %}">Dashboard</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="{% url 'customers:projects' %}">Projets</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="{% url 'customers:invoices' %}">Factures</a></li>
                            <li><a class="nav-link hover:text-custom-blue" href="{% url 'customers:search' %}">Recherche</a></li>
                        </ul>
                    </details>

                {% endif %}
            </ul>
        </div>
        <div class="navbar-end">
            <div class="form-control">
                <form action="{% url 'search' %}" method="get">
                    <input type="text" placeholder="Recherche"
                           class="input input-bordered w-24 md:w-auto focus:ring-2 focus:ring-custom-blue"
                           name="query"/>
                </form>
            </div>
        </div>
    </div>
</header>




<div class="relative py-16 overflow-hidden bg-gradient-to-r from-[#fef6e4] to-[#f9f1e1]">
    <!-- Éléments décoratifs -->
    <div class="absolute top-0 left-0 w-full h-1 bg-gradient-to-r from-transparent via-custom-blue to-transparent opacity-10"></div>
    
    <div class="container mx-auto px-4 relative z-10">
      <div class="max-w-3xl mx-auto text-center">
        <h1 class="text-4xl md:text-5xl font-bold mb-6 text-custom-blue leading-tight">
          {% block banner_title %}{{ page.title }}{% endblock %}
        </h1>
        
        <div class="flex items-center justify-center my-4">
          <div class="h-px w-16 bg-gradient-to-r from-transparent via-custom-blue to-transparent opacity-50"></div>
          <div class="mx-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-custom-blue opacity-70">
              <path d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z" />
            </svg>
          </div>
          <div class="h-px w-16 bg-gradient-to-r from-custom-blue via-custom-blue to-transparent opacity-50"></div>
        </div>
        
        <p class="text-xl text-custom-blue/90 mt-4 leading-relaxed max-w-2xl mx-auto">
          {% block banner_text %}{{ page.header|richtext }}{% endblock %}
        </p>
        
        <div class="flex items-center justify-center mt-6">
          <div class="h-px w-24 bg-gradient-to-r from-transparent via-custom-blue to-transparent opacity-30"></div>
        </div>
      </div>
    </div>
    
    <!-- Bordure décorative du bas -->
    <div class="absolute bottom-0 left-0 w-full h-1 bg-gradient-to-r from-transparent via-custom-blue to-transparent opacity-10"></div>
  </div>





<main class="container mx-auto px-4 py-8 flex-grow mt-8 max-w-3xl">
    {% block content %}{% endblock %}
</main>

<hr class="my-8 border-0 h-px bg-gradient-to-r from-transparent via-gray-500 to-transparent">

<footer class="footer footer-center p-10 text-base-content rounded mt-8 bg-[#f3d2c1]">
    <nav class="grid grid-flow-col gap-4">
        <a class="nav-link link link-hover hover:text-custom-blue" href="{% slugurl 'legal' %}">À propos</a>
        <a class="nav-link link link-hover hover:text-custom-blue" href="{% slugurl 'contact' %}">Contact</a>
    </nav>
    <nav>
        <div class="grid grid-flow-col gap-4">
            <a aria-label="Réseau X de Gabriel Trouvé" href="https://twitter.com/GabrielTrouve" target="_blank"
               class="hover:opacity-80 transition-opacity transform hover:scale-110">
                <img src="{% static 'logos/x.png' %}" width="40" height="auto" alt="X">
            </a>
            <a aria-label="Réseau Linkedin de Gabriel Trouvé"
               href="https://www.linkedin.com/in/gabriel-trouv%C3%A9-b6a2bb159/" target="_blank"
               class="hover:opacity-80 transition-opacity transform hover:scale-110">
                <img src="{% static 'logos/l.png' %}" width="40" height="auto" alt="LinkedIn">
            </a>
            <a aria-label="GitHub de Gabriel Trouvé" href="https://github.com/gabigab117" target="_blank"
               class="hover:opacity-80 transition-opacity transform hover:scale-110">
                <img src="{% static 'logos/g.png' %}" width="40" height="auto" alt="GitHub">
            </a>
            <a aria-label="YouTube de Gabriel Trouvé" href="https://www.youtube.com/@gabrieltrouve2801" target="_blank"
               class="hover:opacity-80 transition-opacity transform hover:scale-110">
                <img src="{% static 'logos/y.webp' %}" width="40" height="auto" alt="YouTube">
            </a>
        </div>
    </nav>
    <aside>
        <p>PyGabDev © 2024 - Tous droits réservés</p>
    </aside>
</footer>


{% static "cookie_consent/cookiebar.module.js" as cookiebar_src %}
{% url 'cookie_consent_status' as status_url %}
<script type="module">
  import {showCookieBar} from '{{ cookiebar_src }}';
  showCookieBar({
    statusUrl: '{{ status_url|escapejs }}',
    templateSelector: '#cookie-consent__cookie-bar',
    cookieGroupsSelector: '#cookie-consent__cookie-groups',
    onShow: () => document.querySelector('body').classList.add('with-cookie-bar'),
    onAccept: () => document.querySelector('body').classList.remove('with-cookie-bar'),
    onDecline: () => document.querySelector('body').classList.remove('with-cookie-bar'),
  });
</script>
<!-- 100% privacy-first analytics -->
{% if not request.path|slice:":10" == '/customers' %}
<!-- 100% privacy-first analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
{% endif %}

</body>
</html>