body {
            background-color: #fef6e4;
}
.text-custom-blue {
    color: #001858;
}
.hover\:text-custom-blue:hover {
    color: #001858;
}
.elegant-hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 24, 88, 0), rgba(0, 24, 88, 0.75), rgba(0, 24, 88, 0));
    width: 80%;
    margin: 20px auto;
}
.banner-border {
    border-bottom: 1px solid rgba(0, 24, 88, 0.1);
}
.nav-link {
    position: relative;
}
.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #001858;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.nav-link:hover::after {
    transform: scaleX(1);
}
.services-menu summary::after {
    display: none;
}
.services-menu ul {
    margin-top: 0.5rem;
}
.services-menu ul li a::after {
    bottom: 0;
}
.prose a {
    color: #f582ae;
    text-decoration: none; /* Optionnel : enlève le soulignement par défaut */
}
.prose h2 {
  text-align: center;
}
.prose img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

text-white {
    color : white;
}

