{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<div class="text-justify">
    <div class="prose mx-auto text-custom-blue">
        {% image page.main_image original class="rounded-xl" alt=page.main_image.title %}

        {{ page.body }}

        {% with tags=page.tags.all %}
        {% if tags %}
        <div class="mt-8 flex justify-center">
            <div class="mt-8 p-2 bg-[#f3d2c1] rounded-lg shadow-lg flex flex-col items-center">
                <h3 class="text-2xl font-bold mb-4 text-primary">Tags</h3>
                <div class="flex flex-wrap gap-2">
                    {% for tag in tags %}
                    <a href="{% slugurl 'blog-tags' %}?tag={{ tag }}" class="tag-link">
                                <span class="px-3 py-1 rounded-full text-sm font-medium bg-[#f582ae] text-white hover:bg-[#f36a9f] transition-colors duration-300 ease-in-out inline-flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"/>
                                    </svg>
                                    {{ tag }}
                                </span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>

    <hr class="my-6">

    <a href="{{ page.get_parent.url }}"
       class="btn bg-[#f582ae] border-[#f582ae] hover:bg-[#f36a9f] hover:border-[#f36a9f] text-white transition-all duration-300 ease-in-out hover:scale-110">
        Retour
    </a>
</div>
{% endblock %}