{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Création d'un projet
{% endblock %}

{% block banner_title %}Projets{% endblock %}
{% block banner_text %}Créé un projet{% endblock %}

{% block content %}
<div class="text-center">
    <div class="prose mx-auto text-custom-blue">
        <div class="mt-8 p-6 bg-[#f3d2c1] rounded-lg shadow-lg">
           <form method="post">
               {% csrf_token %}
               {{ form|crispy }}
               <input type="submit" value="Envoyer" class="px-4 py-2 rounded-full text-sm font-medium bg-[#f582ae] !text-white hover:bg-[#f36a9f] transition-all duration-300 ease-in-out hover:scale-110 inline-flex items-center">
           </form>

        </div>
    </div>
</div>
{% endblock %}