{% extends 'base.html' %}
{% block title %}
{{ customer.name }}
{% endblock %}

{% block banner_title %}Client{% endblock %}
{% block banner_text %}{{ customer.name }}{% endblock %}

{% block content %}
<div class="text-center">
    <div class="prose mx-auto text-custom-blue">
        <div class="mt-8 p-6 bg-[#f3d2c1] rounded-lg shadow-lg mx-auto">
            <h2 class="text-xl font-bold mb-4">{{ customer.name }}</h2>
            <div class="space-y-2">
                <p class="text-gray-700"><span class="font-medium">SIRET:</span> {{ customer.siret }}</p>
                <p class="text-gray-700"><span class="font-medium">Adresse:</span> {{ customer.address }}</p>
                <p class="text-gray-700"><span class="font-medium">Code postal:</span> {{ customer.zip_code }}</p>
                <p class="text-gray-700"><span class="font-medium">Ville:</span> {{ customer.city }}</p>
            </div>

            <a href="{% url 'customers:update-customer' pk=customer.pk %}"
               class="inline-flex items-center mr-2 px-4 py-2 rounded-full text-sm font-medium bg-[#f582ae] !text-white hover:bg-[#f36a9f] transition-all duration-300 ease-in-out hover:scale-110 mt-4">Modifier</a>
        </div>


        <div class="mt-8 p-6 bg-[#f3d2c1] rounded-lg shadow-lg mx-auto">
            <h3>Projets associés</h3>
            {% if projects %}


            <div class="overflow-x-auto">
                <table class="table">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Taux</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                    <tr>

                        <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
                        <td>{{ project.hourly_rate }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            {% else %}
            <p>Pas de projets pour ce client.</p>
            {% endif %}

            <a href="{% url 'customers:create-project' %}"
               class="mr-2 px-4 py-2 rounded-full text-sm font-medium bg-[#f582ae] !text-white hover:bg-[#f36a9f] transition-all duration-300 ease-in-out hover:scale-110 inline-flex items-center">Ajouter
                un projet</a>


        </div>

        <div class="mt-8 p-6 bg-[#f3d2c1] rounded-lg shadow-lg mx-auto">
            {% if total_unbilled_services %}
            Total des services non facturés : {{ total_unbilled_services }}
            {% else %}
            <p>Pas de services non facturés pour ce client.</p>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}